@page "/"
@using CarRental.Business.Classes
@using CarRental.Common.Classes;
@using CarRental.Common.Interfaces
@using CarRental.Common.Enums
@inject BookingProcessor bp


<h1>Car Rental Assignment</h1>
<br>

<h5>Vehicles</h5>

<!--Tabell för fordon-->
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th class="col-2">RegNo</th>
                <th class="col-2">Make</th>
                <th class="col-1">Odometer</th>
                <th class="col-1">Cost km</th>
                <th class="col-1">Vehicle type</th>
                <th class="col-1">$ Day</th>
                <th class="col-1">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in bp.GetVehicles())
            {
                <tr>
                    <td>@vehicle.RegNr</td>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKm</td>
                    <td>@vehicle.Type</td>
                    <td>@vehicle.CostDay</td>
                    <td>
                        <button type="button" class="btn btn-@(vehicle.IsAvailable == true ? "dark" : "danger") btn-sm rounded-pill">@(vehicle.IsAvailable == true ? "Available" : "Booked")</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br>

<!--Tabell för bokningar-->
<div>
    <h5>Bookings</h5>
    <table class="table table-hover border">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Customer</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bp.GetBookings())
            {
                <tr>
                    <td>@booking.RegNr</td>
                    <td>@booking.Customer.FirstName @booking.Customer.LastName (@booking.Customer.SocialSecurityNumber)</td>
                    <td>@booking.KmRented</td>
                    @if (booking.BookingOpen == false)
                    {
                        <td>@booking.KmReturned</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@booking.DayRented.ToShortDateString()</td>
                    @if (booking.BookingOpen == false)
                    {
                        <td>@booking.DayReturned.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (booking.BookingOpen == false)
                    {
                        <td>@booking.CostTotal</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        <button type="button" class="btn btn-@(booking.BookingOpen == true ? "danger" : "success") btn-sm">@(booking.BookingOpen == true ? "Open" : "Closed")</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br>

<!--Tabell för kunder-->
<div>
    <h5>Customer</h5>
    <table class="table table-hover border">
        <thead>
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in bp.GetCustomers())
            {
                <tr>
                    <td>@customer.SocialSecurityNumber</td>
                    <td>@customer.LastName</td>
                    <td>@customer.FirstName</td>
                </tr>
            }
        </tbody>
    </table>
</div>